<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
      *{
  margin:0;
  padding:0;
}
body{
  font-family:arial,sans-serif;
  font-size:100%;
  margin:1em;
  background: linear-gradient(black , pink);
  color: antiquewhite;
  {{!-- background-image: url("https://lh3.googleusercontent.com/proxy/r7rO5ZZtlNGQQSZw1owERzQB5MAzS6zbQrDmcvWXWkyMLxiQkJFBaXgfMsGvUciCruGhJUYmWKXFwGqrlGN3Qkd0l_gxLhDK9Qrq0WrrXQgV2XLxrb6_31_aBLAygFPvmA");
  
  background-size: cover; --}}
  

  
}
h2,p{
  font-size:35px;
  font-weight:bolder;
  border:#fff;
}
ul,li{
  list-style:none;
}
ul{
  overflow:hidden;
  padding:3em;
}
ul li a{
  text-decoration:none;

  color:#000;
  background-color:#FE4C40;
  display:block;
  height:10em;
  width:10em;
  padding:1em;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}
ul li{
  margin:1em;
  float:left;
}
ul li h2{
  font-size:110%;
  font-weight:bolder;
  padding-bottom:10px;
  color:darkblue;
  text-decoration: underline;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
ul li p{
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size:70%;
}
ul li a{
  -webkit-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  -moz-transform:rotate(-6deg);
}
ul li:nth-child(even) a{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
  background-color:#4BC7CF;
}
ul li:nth-child(3n) a{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background-color:#AFE313;
}
ul li:nth-child(5n) a{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}
ul li a:hover,ul li a:focus{
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}
ol{text-align:center;}
ol li{display:inline;padding-right:1em;}
ol li a{color:#fff;}
      
      
      /* Responsive columns - one column layout (vertical) on small screens */
      @media screen and (max-width: 600px) {
        .row {
          width: 100%;
          display: block;
          margin-bottom: 20px;
        }
      }
       </style>
<h2> Welcome to the Editorial Section</h2>
<div class="row">
  <ul>
    <li>
      <a href="http://www.legalservicesindia.com/article/471/Rape-Laws-In-India-Appropriate-or-not?.html">
        <h2>Rape laws in India</h2>
        <p>This section contains the different laws implemeted by India against Rapists , and defines what is RAPE !!!</p>
      </a>
    </li>
    <li>
      <a href="https://www.scoopwhoop.com/inothernews/punishing-rape-globally/">
        <h2>Rape Punishment scenario</h2>
        <p>This part contains the details of actions taken against rapists across the world in different countries.</p>
      </a>
    </li>
    <li>
      <a href="https://www.washingtonpost.com/news/worldviews/wp/2012/12/29/india-rape-victim-dies-sexual-violence-proble/">
        <h2>India's Rape problem?</h2>
        <p>This sections contains 10 most appropriate reasons defined justifying the rape scenario in India , and its sexual violence problem.</p>
      </a>
    </li>
    <li>
      <a href="https://timesofindia.indiatimes.com/topic/rape">
        <h2>Daily updates</h2>
        <p>This news sections contains the list of updated news on a daily basis of the rape cases taking place in India in different areas.</p>
      </a>
    </li>
    <li>
      <a href="https://www.unwomen.org/en/news/stories/2019/11/compilation-ways-you-can-stand-against-rape-culture">
        <h2>Stand against Rape culture</h2>
        <p>Standing against assault , ravishment , violation needs courage. This sections talks about 16ways you can stand against this culture.</p>
      </a>
    </li>
    <li>
      <a href="https://www.cityofsacramento.org/Police/Resources/Safety-and-Crime-Prevention-Tips/Rape-Prevention">
        <h2>Prevent Rape</h2>
        <p>Changing mind of rapists would be harder than changing our actions. Why not take few prevention to protect ourselves in all kind of scenarios??</p>
      </a>
    </li>
    <li>
      <a href="https://apolitical.co/en/solution_article/want-to-end-sexual-violence-feminist-self-defence-is-the-only-proven-solution">
        <h2>The only effective way</h2>
        <p>Self defence is the only tool and power a women can have to protect herself in such rough situations , why not get a vivid idea about how it works?</p>
      </a>
    </li>
    <li>
      <a href="https://www.amazon.in/s?k=self+defence+gadgets+women">
        <h2>Self defence tools</h2>
        <p>This sections contains a list of self defence tools a person can have in case of emergency period , go make a choice suiting you to protect you.</p>
      </a>
    </li>
    <li>
      <a href="https://www.thebetterindia.com/17191/women-rape-victims-survivors-emerged-winners-respect-inspiring/">
        <h2>Inspiring Stories</h2>
        <p>There are a few ones who take action against this rape culture , those stories are worth giving a read !!!</p>
      </a>
    </li>
    <li>
      <a href="https://www.healthline.com/health/womens-health/self-defense-tips-escape#8-moves-to-try">
        <h2>Self-Defence Moves</h2>
        <p>Why not learn some of the basic moves to protect yourselves against the evil ones???</p>
      </a>
    </li>
    <li>
      <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5419017/">
        <h2>Lifestyle or Behavioral problem?</h2>
        <p>Rape culture is growing in such a fast pace , why not take a look into the real reasons of its such major pace growth?</p>
      </a>
    </li>
    <li>
      <a href="https://www.indiatoday.in/india/story/over-2-4-lakh-cases-relating-to-rape-and-pocso-pending-in-courts-across-country-says-government-1652567-2020-03-05">
        <h2>Pending Cases</h2>
        <p>There are lakhs of pending rape cases in India against which no action is taken. Is this justice??</p>
      </a>
    </li>
    <li>
      <a href="https://newsable.asianetnews.com/india/ten-rapes-cases-that-india-will-never-forget">
        <h2>India will never forget</h2>
        <p>India would never be able to get pass these rape cases which shook our nation to core !!! </p>
      </a>
    </li>
    <li>
      <a href="https://www.indiatoday.in/diu/story/india-s-10-most-dangerous-states-for-women-uttar-pradesh-rajasthan-hathras-1727981-2020-10-03">
        <h2>Statistics</h2>
        <p>Get to know about the 10 most states of India where women are the most unsafe beings.</p>
      </a>
    </li>
    <li>
      <a href="https://timesofindia.indiatimes.com/india/countries-with-the-most-rape-cases/articleshow/63897729.cms">
        <h2>India's Position</h2>
        <p>Have an idea about the position of our India in rape statistics of the world!!!</p>
      </a>
      <li>
        <a href="https://www.thehindu.com/opinion/op-ed/lets-ask-how-we-contribute-to-rape/article4235902.ece">
          <h2>Contribution</h2>
          <p>What is the most we as a society can do to stand against rape??? get to know about the contribution we can make to stand strong and to raise our voice together.</p>
        </a>
      </li>
      <li>
        <a href="https://tbsnews.net/world/countries-least-number-rape-cases-reported-144178">
          <h2>Least Rape Cases</h2>
          <p>There ae actually places with so less rape cases , its such a wonderful right?? Find out</p>
        </a>
      </li>
      <li>
        <a href="https://www.dayoneri.org/sites/default/files/site-content/pdfs/10%20Things%20men%20can%20do%20to%20stop%20rape.pdf">
          <h2>Men's Job</h2>
          <p>What can men do to stop this rape culture? What is their role? </p>
        </a>
    </li>
  </ul>
  </div>
  

    

    

    

    

    
</body>
</html>