<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lass At Liberty</title>
    {{!-- <link rel="stylesheet" href="style.css"> --}}
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
</head>
<body>
    <style>
        html {
    scroll-behavior: smooth;
  }
  body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
    background: linear-gradient(#99CCFF, #660033);
    background-size: cover;
    background-attachment: fixed;
    
  }
  #navbar{
      border: 2px  solid black;
      padding: 5px;
      background: linear-gradient(to right, #e66465, #091379);
      border-radius: 15px;  
  }
  #navbar a{
      text-decoration: none;
      color: #043042;
      padding-top: 35px;
      padding: 10px;
  }
  #navbar a img{
      width: 1.75%;
    position: absolute;
    padding-left: 5px;
  }
  #right-shift{
      float: right;
      font-size: large;
      padding-top: 7px;
      word-spacing: 10px;
  }
  #right-shift a{
      color: rgb(11, 192, 192);
  }
  #home{
      font-size: x-large;
     
  }
 #navbar :hover{
      color: rgb(107, 31, 31);

  }
  h1{
      text-align: center;
  }

  #pic{
      width: 20%;
  }
  #logo{
      text-align: center;
      display:block;
      font-size: x-large;
      font-weight: bold;
  }
 
  /* $color-sent: blue ; */

  /* body, html {
    height: 100%;
  }
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: content;
    align-items: center;
    font-family: "fira-sans-2", Verdana, sans-serif;
  } */
  
  #q-graph {
    display: block;
    position: relative; 
    width: 400px; 
    height: 300px;
    margin: 1.1em 0 0; 
    padding: 0;
    background: transparent;
    font-size: 11px;
  }
  
  #q-graph caption {
    caption-side: top; 
    width: 400px;
    text-transform: uppercase;
    letter-spacing: .5px;
    top: -90px;
    position: relative; 
    z-index: 10;
    font-weight: bolder;
  }
  
  #q-graph tr, #q-graph th, #q-graph td { 
    position:absolute;
    bottom: 0; 
    width: 150px; 
    z-index: 2;
    margin: 0; 
    padding: 0;
    text-align: center;
  }
  
  #q-graph td {
    transition: all .3s ease;
    
    /* &:hover {
      background-color: black;;
      opacity: .9;
      color: white;
    } */
  }
    
  #q-graph thead tr {
    left: 100%; 
    top: 50%; 
    bottom: auto;
    margin: -2.5em 0 0 5em;}
  #q-graph thead th {
    width: 7.5em; 
    height: auto; 
    padding: 0.5em 1em;
  }
  #q-graph thead th.sent {
    top: 0; 
    left: 0; 
    line-height: 2;
  }
  #q-graph thead th.paid {
    top: 2.75em; 
    line-height: 2;
    left: 0; 
  }
  
  #q-graph tbody tr {
    height: 296px;
    padding-top: 2px;
    border-right: 1px dotted #b18b8b; 
    color: rgb(212, 23, 23);
  }
  #q-graph #q1 {
    left: 0;
  }
  #q-graph #q2 {left: 150px;}
  #q-graph #q3 {left: 300px;}
  #q-graph #q4 {left: 450px; border-right: none;}
  #q-graph tbody th {bottom: -1.75em; vertical-align: top;
  font-weight: normal; color: rgb(225, 236, 236);}
  #q-graph .bar {
    width: 60px; 
    border: 2px solid; 
    border-bottom: none; 
    color:rgb(255, 255, 255);
    font-weight: 25px;
  }
  #q-graph .bar p {
    margin: 5px 0 0; 
    padding: 0;
    opacity: .4;
  }
  #q-graph .sent {
    left: 13px; 
    background-color: rgb(4, 4, 58);
    border-color:blank;
  }
  #q-graph .paid{   left: 77px; 
    background-color:rgb(12, 160, 245);
    border-color: transparent;
    border: 2px solid rgb(241, 190, 190) ; 
  }
  #ticks {
    position: relative; 
    top: -300px; 
    left: 2px;
    width: 596px; 
    height: 300px; 
    z-index: 1;
    margin-bottom: -300px;
    font-size: 10px;
    font-family: "fira-sans-2", Verdana, sans-serif;
  }
  #ticks .tick {
    position: relative; 
    
    width: 600px;
  }
  #ticks .tick p {
    position: absolute; 
    left: -5em; 
    top: -0.8em; 
    margin: 0 0 0 0.5em;
  } 
  #ticks .tick p {
    position: absolute; 
    left: -5em; 
    top: -0.8em; 
    margin: 0 0 0 0.5em;
  } 
  #ticks .tick p {
    position: absolute; 
    left: -5em; 
    top: -0.8em; 
    margin: 0 0 0 0.5em;
  }
    </style>
    <header>
        <nav id="navbar">
            <a href="/home" id="home"><strong>Lass At Liberty</strong> <img id="navimg" src="/image/Icon-navbar.png"> </a>
            <span id="right-shift">
              <a href="/dashboard">Dashboard</a>
            <a href="https://www.youtube.com/playlist?list=PLc5dVGJbyCs2luU-uV1NwNpa8AxwKDEqt" target="#" class="nav-links">Videos</a>
            </span>
        </nav>
    </header>
    <br>
    
    <div id="logo">
        <img id="pic" src="/image/finallogo.png">
        <p id="typewritercontent"></p>

    </div>
    <div>
        <table id="q-graph">
            <caption>Last 5 Year Rape Statistics In India </caption>
            <thead>
            
            </thead>
            <tbody>
            <tr class="qtr" id="q1">
            <th scope="row">2017</th>
            <td class="sent bar" style="height: 213.48px;"><p>32559</p></td>
            <td class="paid bar" style="height: 120px;"><p>18300</p></td>
            </tr>
            <tr class="qtr" id="q2">
            <th scope="row">2018</th>
            <td class="sent bar" style="height: 342px;"><p>34000</p></td>
            <td class="paid bar" style="height: 120px;"><p>11900</p></td>
            </tr>
            <tr class="qtr" id="q3">
            <th scope="row">2019</th>
            <td class="sent bar" style="height: 259px;"><p>32033</p></td>
            <td class="paid bar" style="height: 193px;"><p>11200</p></td>
            </tr>
            <tr class="qtr" id="q4">
            <th scope="row">2020</th>
            <td class="sent bar" style="height: 110px;"><p>40000</p></td>
            <td class="paid bar" style="height: 195px;"><p>11111</p></td>
            </tr>
            </tbody>
            </table>
            
            
    </div>
    <div>
        <marquee behavior="scroll" direction="left">headlines... </marquee>
    </div>
    <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
    <script type="text/javascript" >
    
    let take = document.getElementById('typewritercontent');

let typewriter = new Typewriter(take, {
  loop: true,
  delay: 75,
});
let arr = ['Bold','Brave','Independent','HeadStrong'];
for(let i=0;i<arr.length;i++){
    let s = arr[i];
    s.toString();

    typewriter
  .pauseFor(800)
  .typeString(s)
  .pauseFor(2500)
  .deleteChars(15)
  .pauseFor(800)
  .start();

}
</script>
</body>
</html>